* {
  cursor: none !important;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#landing-page {
  font-family: "Josefin Sans bold", Arial, sans-serif;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
  z-index: -10  ;
}

#background_image img {
  position: center;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-size: cover;;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

#video_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

#name {
  position: relative;
  top: -12vh;
  color: rgb(86, 79, 187);
  font-family: "Josefin Sans bold", Arial, sans-serif;
  z-index: 100;
  font-size: calc(10px + 2vh);
  margin-bottom: 4vh;
  text-align: center;
}


.text_block {
  color: rgb(86, 79, 187);
  font-family: "Josefin Sans bold", Arial, sans-serif;
  z-index: 3;
}

.text_block h1 {
  font-size: calc(15px + 3vh);
  margin: 0px;
  text-align: center;
  z-index: 3;
}

.text_block h3 {
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
  z-index: 3;
}

#question_block {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  padding-bottom: 5vh;
  align-items: center;
  justify-content: flex-end;
  width: 30vw;
  z-index: 100;
  overflow: hidden;
}

a:-webkit-any-link {
  font-family: "Josefin Sans bold", Arial Black , sans-serif;
  color: rgba(86, 79, 187, 0.5);
  font-size: calc(8px + 0.5vw);
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

#faded_text {
  font-family: "Josefin Sans bold", Arial Black , sans-serif;
  color: rgba(86, 79, 187, 0.5);
  font-size: calc(8px + 0.5vw);
  text-align: center;
  z-index: 100;
  opacity: 0%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

#scrolling_container {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  background-color: #000000;
  opacity: 0%;
  transition: opacity 0.3s;
  cursor: none;
}

#scroller {
  height: 500vh;
}



.copyright-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#copyright {
  color: rgba(86, 79, 187, 0.5);
  font-family: "Josefin Sans bold", Arial, sans-serif;
  font-size: 12px;
  padding: 16px;
  z-index: 4;
}



.hidden-menu {
  position: fixed;
  width: 25vw;
  z-index: 100;
  padding: 20px;
  top: 0;
  list-style: none;
}

.hidden-menu ul {
  padding: 0%;
  margin: 0%;
  list-style: none;
}

#menu_left {
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
}

#menu_right {
  left: 73vw;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
  align-items: end;
}

#menu_right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.hidden-menu ul li {
  width: 100%;
}

#menu_right ul li a {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.hidden-menu ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans bold", Arial Black, sans-serif;
  font-size: calc(8px + 0.5vw);
  width: 100%;
}

.hidden-menu ul li a img {
  height: 8vh;
  margin: 1vh;
  opacity: 100%;
}

.show-menu {
  transform: translateX(0%);
}



#warning {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

#warning p {
  font-family: "Josefin Sans bold", Arial, sans-serif;
  font-size: 4vw;
  color: rgb(86, 79, 187);
  height: 100vh;
  width: 100vw;
  margin-top: 48vh;
  text-align: center;
}