::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* TEXT STYLES */
h1 {
    margin-bottom: 1em;
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(25px, 3.5vw, 60px);
    font-weight: 1000;
    position: absolute;
    right: 5%;
    bottom: 5%;
    transform: translateY(-100vh);
    text-align: right;
}

h2 {
    margin-bottom: 1em;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: clamp(18px, 2vw, 40px);
    font-weight: 800;
    font-style: italic;
}

h3 {
    margin-bottom: 1em;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: clamp(15px, 1.5vw, 25px);
    font-weight: 500;
    font-style: italic;
}

p {
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: clamp(10px, 1vw, 17px);
    font-weight: 200;
    line-height: 1.5;
    margin: 2em;
    text-align: center;
}


/* HTML ELEMENTS */
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none;
    background-color: #ffffff;
    color: #000000;
    font-family: "Josefin Sans", sans-serif;
    cursor: url('../media/00_cursor/cursor.png');
}

#scrolling_container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.snap_section {
    scroll-snap-align: start;
    overflow: hidden;
}

.circle-link {
    position: fixed;
    top: 1.5vw;
    left: 1.5vw;
    width: 4vw;
    height: 4vw;
    background-image: linear-gradient(to right, #c592e7a6, #563c9175, #c592e7a6);
    border: 2px solid #000000;
    border-radius: 50%; /* circle */
    z-index: 1000;
    animation: rotate 10s linear infinite;
}

#page_header_container {
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    cursor: none;
}

#page_header {
    position: relative;
    min-height: 100vh;
}

#title_image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

#project_intro_container {
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: none;
}

#project_intro {
    display: grid;
    align-items: center;
    justify-items: center;
}

#project_intro p, .image-caption {
    width: 60vw;
}

.image_container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

.image img {
    max-height: 80vh;
    max-width: 90vw;
    width: auto;
}

#gallery {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#gallery:hover {
    cursor: none;
}

.gallery_item {
    position: absolute;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.gallery_item.active {
    opacity: 1;
    z-index: 20;
}

.gallery_item.next {
    /* opacity: 0.05; */
    z-index: 10;
    transform: translateX(20%);
}

.gallery_item.prev {
    /* opacity: 0.05; */
    z-index: 10;
    transform: translateX(-20%);
}

.gallery_item img {
    max-height: 80vh;
    max-width: 90vw;
    width: auto;
}

#video_container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

#video {
    max-height: 80vh;
    max-width: 90vw;
}



.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 4vw;
    margin-bottom: 2vh;
}

.page-footer p {
    font-size: 0.75em;
}



/* ANIMATIONS */
@media (max-width: 600px) {
    .gallery-item {
        flex-basis: 100%;
    }
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }