::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fade-in {
    opacity: 1 !important;
}


/* HTML ELEMENTS */
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none;
    background-color: #000000;
    color: #000000;
    font-family: "Josefin Sans", sans-serif;
    cursor: url('../media/00_cursor/cursor.png');
    cursor: none;
}

#title_image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    filter: blur(3vw) saturate(2);
}



#content {
    position: absolute;
    left: 10vw;
    top: 0;
    width: 80vw;
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#portrait_container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#portrait {
    height: auto;
    width: 30vw;
    z-index: 50;
}

h1 {
    margin-bottom: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(25px, 6vh, 60px);
    font-weight: 1000;
    text-align: center;
}


#text_container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h2 {
    margin-bottom: 2vh;
    margin-top: 0;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: clamp(18px, 2vw, 40px);
    font-weight: 800;
    font-style: italic;
}

#description {
    width: 30vw;
    text-align: justify;
}

.quote {
    width: 30vw;
    font-style: italic;
    margin: 3vh 0;
    text-align: center;
}

p {
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: clamp(10px, 0.7vw, 17px);
    color: #fff;
    font-weight: 200;
    line-height: 1.5;
    margin: 0;
}



#cursor_container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    cursor: none;
}

#icons {
    margin-top: 2vh;
}

.icon-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 3vh;
    margin: 1vh 1vw;
}

.icon-link:hover {
    color: #9785da;
}



.circle-link {
    position: fixed;
    top: 1.5vw;
    left: 1.5vw;
    width: 4vw;
    height: 4vw;
    background-image: linear-gradient(to right, #c592e7a6, #563c9175, #c592e7a6);
    border: 2px solid #000000;
    border-radius: 50%; /* circle */
    z-index: 1000;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}